/* This is essential to stop mocha reporter created anchors from making the document overflow, mainly along the x-axis. */
#mocha h1 a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* mocha stats having a fixed position can interfere with some tests when intersecting with elements */
#mocha-stats {
  position: static;
}