<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%=data.title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="/node_modules/mocha/mocha.css" />
		<link rel="stylesheet" type="text/css" href="/test/mocha-styles.css" />
	</head>
	<body>
		<div id="mocha"></div>
		<div id="fixture"></div>

		<script src="/node_modules/mocha/mocha.js"></script>
		<script src="/node_modules/chai/chai.js"></script>
		<script src="/test/mocha-setup.js"></script>

		<% files.forEach(function (file) { %>
			<script src="/<%=file%>"></script>
		<%  }); %>
		<script src="/test/version.js"></script>
		<script src="/test/testutils.js"></script>
		<% tests.forEach(function (file) { %>
			<script src="<%=file%>"></script>
		<%  }); %>
		
		<script type="text/javascript">
			var runner = mocha.run();

			if (!window.isAxeHeadlessMode) {		
				var failedTests = [];	

				runner
					.once(Mocha.Runner.constants.EVENT_RUN_END, onEventRunEnd)
					.on(Mocha.Runner.constants.EVENT_TEST_FAIL, onEventTestFail)

				function onEventRunEnd() {
					var result = {
						stats: runner.stats,
						failedTests: failedTests
					};
					setResult(result);
				}

				function setResult(stats) {
					!window.__mochaResult__ && (window.__mochaResult__ = stats);
				}

				function onEventTestFail(test, err) {
					var flattenTitles = function(test) {	
						var titles = [];	
						while (test.parent.title) {	
							titles.push(test.parent.title);	
							test = test.parent;	
						}	
						return titles.reverse();	
					}	
					failedTests.push({	
						name: test.title,	
						result: false,	
						message: err.message,	
						stack: err.stack,	
						titles: flattenTitles(test)	
					});	
				}
			}
		</script>
	</body>
</html>