@media screen and (min-width: 20px) and (max-width: 2300px) and (orientation: portrait) {
	.thatDiv {
		transform: rotate(90deg);
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}