tmp
dist
node_modules
test/*/index.html
test/integration/*/index.html
axe.js
axe.*.js
*.tgz
npm-shrinkwrap.json
typings/axe-core/axe-core-tests.js
doc/rule-descriptions.*.md
package-lock.json
.DS_Store
