tmp
dist
build
test
node_modules
*.tgz
.npmignore
.circleci
.github
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitattributes
.huskyrc
.jsdoc.json
.prettierignore
.prettierrc
.retireignore.json
greenkeeper.json
Gruntfile.js
tsconfig.json
