version: 2.1

defaults: &defaults
  working_directory: ~/axe-core

unix_box: &unix_box
  docker:
    - image: cimg/node:16.13-browsers

unix_nightly_box: &unix_nightly_box
  docker:
    - image: cimg/node:lts-browsers

win_box: &win_box
  executor:
    name: win/vs2019
    shell: bash.exe

orbs:
  win: circleci/windows@1.0.0
  puppeteer: threetreeslight/puppeteer@0.1.2
  browser-tools: circleci/browser-tools@1.1.0

set_npm_auth: &set_npm_auth
  run: npm config set "//registry.npmjs.org/:_authToken" $NPM_AUTH

restore_dependency_cache_unix: &restore_dependency_cache_unix
  restore_cache:
    keys:
      - v9-cache-unix-{{ checksum "package-lock.json" }}
      - v9-cache-unix-

restore_dependency_cache_win: &restore_dependency_cache_win
  restore_cache:
    keys:
      - v9-cache-win-{{ checksum "package-lock.json" }}
      - v9-cache-win-

jobs:
  # Fetch and cache dependencies.
  dependencies_unix:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache_unix
      - run: npm ci
      - save_cache:
          key: v9-cache-unix-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
  dependencies_win:
    <<: *defaults
    <<: *win_box
    steps:
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache_win
      - run: npm ci
      - save_cache:
          key: v9-cache-win-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

  # Run ESLINT
  lint:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run eslint

  # Run the test suite.
  test_nightly_chrome:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test -- --browsers Chrome,Firefox
      - run: npm run test:integration:chrome
      - run: npm run test:integration:firefox

  # Run the test suite in IE in windows
  test_win:
    <<: *defaults
    <<: *win_box
    steps:
      - checkout
      # npm i or restore cache
      - <<: *restore_dependency_cache_win
      - run: npm run build
      - run: npm run test -- --browsers IE
      # install selenium
      - run: |
          choco install selenium-ie-driver --version 3.141.5
          export PATH=/c/tools/selenium:$PATH
          echo $PATH
      - run: npm run test:integration:ie

  # Run examples under `doc/examples`
  test_examples:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test:examples

  # Run ACT test cases
  test_act:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      # Always run on the latest master branch, regardless of cache
      - run: npm install act-rules/act-rules.github.io#master
      - run: npm run build
      - run: npm run test:act

  # Run ARIA practices test cases
  test_aria_practices:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test:apg

  # Test locale files
  test_locales:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test:locales

  # Test virtual rules
  test_virtual_rules:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test:virtual-rules

  # Run the test suite for nightly builds.
  test_unix:
    <<: *defaults
    <<: *unix_nightly_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      # install Chrome Beta
      - run: |
          wget https://dl.google.com/linux/direct/google-chrome-beta_current_amd64.deb
          sudo apt install ./google-chrome-beta_current_amd64.deb
          echo "export CHROME_BIN=$(which google-chrome-beta)" >> ~/.bashrc
      # install Firefox Nightly
      - run: |
          wget -O firefox-nightly.tar.bz2 "https://download.mozilla.org/?product=firefox-nightly-latest-ssl&os=linux64&lang=en-US"
          tar xf firefox-nightly.tar.bz2
          echo "export FIREFOX_NIGHTLY_BIN=$(pwd)/firefox/firefox-bin" >> ~/.bashrc
      - run: |
          source ~/.bashrc && echo "CHROME_BIN: $CHROME_BIN" && echo "FIREFOX_NIGHTLY_BIN: $FIREFOX_NIGHTLY_BIN"
          npm run test -- --browsers Chrome,FirefoxNightly

  # Run the test suite for nightly builds.
  test_nightly_aria_practices:
    <<: *defaults
    <<: *unix_nightly_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      # install ARIA practices
      - run: npm install w3c/aria-practices#main
      - run: npm run test:apg

  # Test api docs can be built
  build_api_docs:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run api-docs

  # Test newest axe-core version rule help docs are active (only on
  # master prs)
  test_rule_help_version:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run test:rule-help-version

  # Test node API
  test_node:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run test:node

  # Release a "next" version
  next_release:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run next-release
      - run: .circleci/verify-release.sh
      - run: npm publish --tag=next

  # Release a "production" version
  release:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache_unix
      - run: npm run build
      - run: npm run sri-validate
      - run: .circleci/verify-release.sh
      - run: npm publish

  # Create a GitHub release.
  github_release:
    docker:
      - image: circleci/golang:1.10
    steps:
      - checkout
      - run: go get gopkg.in/aktau/github-release.v0
      - run:
          name: Download and run GitHub release script
          command: |
            curl https://raw.githubusercontent.com/dequelabs/attest-release-scripts/develop/src/node-github-release.sh -s -o ./node-github-release.sh
            chmod +x ./node-github-release.sh
            ./node-github-release.sh

  # Verify released package has all required files
  verify_release:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: .circleci/verify-release.sh post

  # Verify canary released package has all required files
  verify_next_release:
    <<: *defaults
    <<: *unix_box
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - <<: *restore_dependency_cache_unix
      - run: npm run next-release
      - run: .circleci/verify-release.sh post

workflows:
  version: 2
  build:
    jobs:
      # install deps
      - dependencies_unix
      - dependencies_win
      # Run linting
      - lint:
          requires:
            - dependencies_unix
      # Run tests on all commits, but after installing dependencies
      - test_unix:
          requires:
            - dependencies_unix
            - lint
      # Run IE/ Windows test on all commits
      - test_win:
          requires:
            - dependencies_win
      - test_examples:
          requires:
            - test_unix
      - test_act:
          requires:
            - test_unix
      - test_aria_practices:
          requires:
            - test_unix
      - test_locales:
          requires:
            - test_unix
      - test_virtual_rules:
          requires:
            - test_unix
      - build_api_docs:
          requires:
            - test_unix
      - test_rule_help_version:
          requires:
            - test_unix
      - test_node:
          requires:
            - test_unix
      # Hold for approval
      - hold:
          type: approval
          requires:
            - test_unix
            - test_win
            - test_examples
            - test_locales
            - test_virtual_rules
            - build_api_docs
            - test_rule_help_version
            - test_node
          filters:
            branches:
              only:
                - master
      # Run a next release on "develop" commits, but only after the tests pass and dependencies are installed
      - next_release:
          requires:
            - dependencies_unix
            - test_unix
            - test_examples
            - test_locales
            - test_virtual_rules
            - build_api_docs
          filters:
            branches:
              only: develop
      # Run a production release on "master" commits, but only after the tests pass and dependencies are installed
      - release:
          requires:
            - dependencies_unix
            - test_unix
            - test_examples
            - test_locales
            - test_virtual_rules
            - build_api_docs
            - test_rule_help_version
            - test_node
            - hold
          filters:
            branches:
              only: master
      # Verify releases have all required files
      - verify_release:
          requires:
            - release
          filters:
            branches:
              only: master
      - verify_next_release:
          requires:
            - next_release
          filters:
            branches:
              only: develop
      - github_release:
          requires:
            - release
  nightly:
    triggers:
      - schedule:
          # run at 00:00 UTC every day
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - dependencies_unix
      - test_nightly_chrome:
          requires:
            - dependencies_unix
      - test_nightly_aria_practices:
          requires:
            - dependencies_unix