version: 2

defaults: &defaults
  docker:
    - image: circleci/node:10-browsers
  working_directory: ~/axe-core

restore_dependency_cache: &restore_dependency_cache
  restore_cache:
    keys:
      - v{{ .Environment.CACHE_VERSION }}-npm-cache-{{ checksum "package.json" }}
      - v{{ .Environment.CACHE_VERSION }}-npm-cache-

restore_phantomjs_cache: &restore_phantomjs_cache
  restore_cache:
    keys:
      - v{{ .Environment.CACHE_VERSION }}-phantomjs-2.1.1

set_npm_auth: &set_npm_auth
  run: npm config set "//registry.npmjs.org/:_authToken" $NPM_AUTH

jobs:
  # Fetch and cache dependencies.
  dependencies:
    <<: *defaults
    steps:
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache
      - run: npm install
      - save_cache:
          key: v{{ .Environment.CACHE_VERSION }}-npm-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  # Run ESLINT
  lint:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_dependency_cache
      - run: npm run eslint

  # Run the test suite.
  test:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_dependency_cache
      - <<: *restore_phantomjs_cache
      - run:
          name: PhantomJs - Install or Restore from Cache
          command: 'sh .circleci/install-phantomjs.sh'
      - save_cache:
          key: v{{ .Environment.CACHE_VERSION }}-phantomjs-2.1.1
          paths:
            - phantomjs
      - run: npm run test

  # Run examples under `doc/examples`
  test_examples:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_dependency_cache
      - run: npm run test:examples

  # Test locale files
  test_locales:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_dependency_cache
      - run: npm run build
      - run: npm run test:locales

  # Test newest axe-core version rule help docs are active (only on
  # master prs)
  test_rule_help_version:
    <<: *defaults
    steps:
      - checkout
      - <<: *restore_dependency_cache
      - run: npm run test:rule-help-version

  # Release a "next" version
  next_release:
    <<: *defaults
    steps:
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache
      - run: npm run next-release
      - run: npm publish --tag=next

  # Release a "production" version
  release:
    <<: *defaults
    steps:
      - checkout
      - <<: *set_npm_auth
      - <<: *restore_dependency_cache
      - run: npm run build
      - run: npm publish

  # Create a GitHub release.
  github_release:
    docker:
      - image: circleci/golang:1.8
    steps:
      - checkout
      - run: go get gopkg.in/aktau/github-release.v0
      - run:
          name: Download and run GitHub release script
          command: |
            curl https://raw.githubusercontent.com/dequelabs/attest-release-scripts/develop/src/node-github-release.sh -s -o ./node-github-release.sh
            chmod +x ./node-github-release.sh
            ./node-github-release.sh

workflows:
  version: 2
  build:
    jobs:
      # install deps
      - dependencies
      # Run linting
      - lint:
          requires:
            - dependencies
      # Run tests on all commits, but after installing dependencies
      - test:
          requires:
            - dependencies
            - lint
      - test_examples:
          requires:
            - test
      - test_locales:
          requires:
            - test
      - test_rule_help_version:
          requires:
            - test
      # Hold for approval
      - hold:
          type: approval
          requires:
            - test
            - test_examples
            - test_locales
            - test_rule_help_version
          filters:
            branches:
              only:
                - master
      # Run a next release on "develop" commits, but only after the tests pass and dependencies are installed
      - next_release:
          requires:
            - dependencies
            - test
            - test_examples
            - test_locales
          filters:
            branches:
              only: develop
      # Run a production release on "master" commits, but only after the tests pass and dependencies are installed
      - release:
          requires:
            - dependencies
            - test
            - test_examples
            - test_locales
            - test_rule_help_version
            - hold
          filters:
            branches:
              only: master
      - github_release:
          requires:
            - release
