<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rule Engine Tests</title>

		<link rel="stylesheet" type="text/css" href="../../node_modules/mocha/mocha.css" />
		<script src="../../node_modules/mocha/mocha.js"></script>
		<script src="../../node_modules/chai/chai.js"></script>
		<script>
			mocha.setup('bdd');
			var assert = chai.assert;
		</script>
		<% files.forEach(function (file) { %>
			<script src="../../<%=file%>"
				<% if (file.indexOf('bower_components') === -1) { %>data-cover<% } %>></script>
		<%  }); %>

	</head>

	<body>
		<div id="mocha"></div>
		<div id="fixture"></div>
		<script src="../mock/felib.js"></script>
		<% tests.forEach(function (file) { %>
			<script src="<%=file%>"></script>
		<%  }); %>

		<script>
			if (window.location.search.indexOf('nocov=true') === -1) {
				var s = document.createElement('script');
				s.setAttribute('data-cover-flags', 'branchTracking');
				s.src = '../../build/blanket_mocha.js';
				document.head.appendChild(s);
			} else {
				mocha.run();
			}
		</script>
	</body>

</html>