var WebDriver = require('selenium-webdriver'),
assert = require('chai').assert,
test = require('selenium-webdriver/testing'),
SeleniumServer = require('selenium-webdriver/remote').SeleniumServer,
jar = 'build/selenium-server-standalone-2.41.0.jar';

var config = [
